@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}
#card {
  width: 250px;
  height: 400px;
  background: white;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#number {
  color: red;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}

#simbol1 {
  margin-top: 25px;
  margin-left: 25px;
  position: absolute;
  font-size: xx-large;
  transform: translate(-50%, -50%);
}
#simbol2 {
  font-size: xx-large;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 150%;
  margin-left: 90%;
}
